<mat-toolbar class="toolbar">
  <span>To-do List</span>
</mat-toolbar>

<h1>Afazeres</h1>
<mat-card class="card">
  <mat-form-field class="input-field">
   <mat-label>O que precisa ser feito?</mat-label>
    <input matInput class="todo-input" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </mat-form-field>


  <div class="content" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </div>
</mat-card>

