.title{
    position: absolute;
    margin-left: 39vw;
    font: 800 5vh sans-serif;
}

.tasks-content{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #0098d1;
    background-size: cover;
    font: 800 1.8vw sans-serif;
}

.todo-content{
    position: relative;
    background-color: #afd9e9;
    margin: auto;
    border-style: solid;
    border-radius: 20px;
    width: 20%;
    height: 50%;
}

.todo-content p{
    color: white;
    text-shadow: 0 1px black, 0 1px black, 1px 0 black, 0 1px black;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: tomato;
}

.doing-content{
    background-color: #afd9e9;
    margin: auto;
    border-style: solid;
    border-radius: 20px;
    width: 20%;
    height: 50%;

}

.doing-content p{
    color: white;
    text-shadow: 0 1px black, 0 1px black, 1px 0 black, 0 1px black;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: rgb(235, 236, 143);
}

.done-content{
    background-color: #afd9e9;
    margin: auto;
    border-style: solid;
    border-radius: 20px;
    width: 20%;
    height: 50%;
}

.done-content p{
    color: rgb(255, 255, 255);
    text-shadow: 0 1px black, 0 1px black, 1px 0 black, 0 1px black;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: rgb(132, 248, 122);
}