<div class="mat-display-3">To-do List</div>
<mat-card class="card">
  <mat-form-field class="input-field">
    <mat-label>O que precisa ser feito?</mat-label>
    <input matInput class="todo-input" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </mat-form-field>
</mat-card>

  <div class="content" *ngIf="todos.length > 0">
    <p class="todo-list">
      <mat-card class="new-card" *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">

          <mat-slide-toggle  class="checked-box" color ="warn" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></mat-slide-toggle>
          <!-- <button
          class="teste"
          (click)="enableDisableRule()"
          [ngClass]="{'undone' : toggle, 'done' : !toggle}">
          </button> -->

          <label id="teste" class="label-todo" >{{todo.title}}</label>
            <button class="toggle-complete" mat-mini-fab color="primary" (click)="removeTodo(todo)" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
      </mat-card>
    </p>
  </div>
